body{
    background-color:white;
    margin: 0;
}
.leftPanel{
 border: 2px solid black;
 display: inline-block;
 background-color: black;
 padding: 20px;
 color: white;
 position:relative;
 left: 11%;
 }

h2{
    background-color:gray;
    color: white;
    
    right: 20px;
    
    
}
.info{
    color:gray;
    text-align: end;
}
.info span{
    color: white;
}
.rightPanel{
    border: 2px solid black;
    display: inline-block;
    background-color: white;
    width:55%;
    color: black;
    position:absolute;
    left: 32%;  
    padding:20px;
}
.subTtitles{
    font-weight: bolder;
}